<!-- toolbar start -->
<p>
  <mat-toolbar style="background-color: #fff;">
  <span>LOREM</span>
  <span>IPSUM</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon matBadge="15" matBadgeColor="warn">notification_important</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>
<!-- toolbar end -->
<!-- sidenav start -->
<mat-sidenav-container class="example-container sideNav">
  <mat-sidenav mode="side" opened class="wid-15" style="margin-top: 2px;">
    <div class="head">MENU</div>
    <mat-nav-list>
      <a *ngFor="let route of routes"
         mat-list-item 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact: true}" 
         [routerLink]="route.path" 
         > 
         <span><mat-icon class="po-ab">{{route.icon}}</mat-icon></span>
        <span class="text">{{route.label}}</span> 
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="wid-85">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- sidenav end -->

<!-- <router-outlet></router-outlet> -->
