<div class="blogs">
    <!-- header start -->
    <!-- <div class="head">
        <span class="he-icon"><mat-icon aria-hidden="false" aria-label="Example dashboard icon" fontIcon="dashboard"></mat-icon></span>
        <span class="he-text">{{title}}</span>
        <div class="sec-he">Total Users : {{subTitle}}</div>
    </div> -->

    <div class="head">
       <div class="he-icon"><mat-icon aria-hidden="false" class="custome-icon" aria-label="Example dashboard icon" fontIcon="dashboard"></mat-icon></div>
        <div class="he-text">{{title}}</div> 
        <div class="sec-he">Total Users : {{subTitle}}</div> 
    </div>
    <!-- header end -->
   
    <!-- card layout start -->
    

    <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="padding-1" fxFlex="50" *ngFor="let blog of userData" rowHeight="4:3">
            <mat-card class="example-card">
                
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxLayout="50" >
                        <img mat-card-image class="img-responsive" src="../../../assets/oil-gas-rigs-vector-illustration_92926-186 1.png" alt="Photo of a Shiba Inu">
                    </div>
                    <div>
                        <mat-card-header>
                            <mat-card-title style="min-height: 125px;" class="blog-title">{{blog.title}}</mat-card-title>
                            <mat-card-subtitle style="min-height: 180px;" class="blog-subtitle">{{blog.body}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="card-gap">
                            <div>
                                <a mat-button class="blog-btn" href="" target="_blank">Read More</a>
                            </div>
                            <div class="card-gap">
                                <span><mat-icon class="card-icon">query_builder</mat-icon></span><span class="card-text">22 july 2020</span>
                                <span class="card-text"><mat-icon class="card-icon">person_outline</mat-icon></span><span class="card-text">Alex Paul</span>
                            </div>
                        </mat-card-content>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
     <!-- card layout end -->
</div>